In [64]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score,recall_score,f1_score
from sklearn.ensemble import GradientBoostingClassifier
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn import preprocessing

# Reading Data

In [2]:
customer_churn=pd.read_csv('Churn_Modelling.csv')

In [3]:
customer_churn

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
customer_churn.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [5]:
customer_churn['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [6]:
customer_churn.shape

(10000, 14)

In [7]:
customer_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [8]:
customer_churn.describe(include='all')

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000,10000.000000,10000,10000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
unique,NaN,NaN,2932,NaN,3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Smith,NaN,France,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,32,NaN,5014,5457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,5000.50000,1.569094e+07,NaN,650.528800,NaN,NaN,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,NaN,96.653299,NaN,NaN,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,NaN,350.000000,NaN,NaN,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,NaN,584.000000,NaN,NaN,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,NaN,652.000000,NaN,NaN,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,NaN,718.000000,NaN,NaN,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,NaN,850.000000,NaN,NaN,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [9]:
customer_churn.duplicated().sum()

0

# Manipulating Data

In [10]:
churn_pred=customer_churn[['Exited','CustomerId']].groupby('Exited').count().reset_index()
churn_pred.columns=['Exited','count']
churn_pred['percentage']=(churn_pred['count']/churn_pred['count'].sum())*100
churn_pred

   Exited  count  percentage
0       0   7963       79.63
1       1   2037       20.37

In [11]:
not_churn=customer_churn[customer_churn.Exited==0]
churn=customer_churn[customer_churn.Exited==1]

In [12]:
print(not_churn.shape)
print(churn.shape)

(7963, 14)
(2037, 14)

In [13]:
churn['CustomerId'].shape

(2037,)

In [14]:
#dropping unwanted columns
customer_churn= customer_churn.drop(['RowNumber'],axis=1)
customer_churn=customer_churn.drop(['CustomerId', 'Surname'], axis=1)

In [15]:
customer_churn

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [16]:
customer_churn.shape

(10000, 11)

In [20]:
customer_churn=pd.get_dummies(customer_churn)

In [21]:


  
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 
  
# Encoding labels of following columns.  
#customer_churn['Gender']= label_encoder.fit_transform(customer_churn['Gender']) 
#customer_churn['Geography']=label_encoder.fit_transform(customer_churn['Geography'])

In [22]:
customer_churn

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [23]:
customer_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Age                10000 non-null  int64
 2   Tenure             10000 non-null  int64
 3   Balance            10000 non-null  float64
 4   NumOfProducts      10000 non-null  int64
 5   HasCrCard          10000 non-null  int64
 6   IsActiveMember     10000 non-null  int64
 7   EstimatedSalary    10000 non-null  float64
 8   Exited             10000 non-null  int64
 9   Geography_Germany  10000 non-null  uint8
 10  Geography_Spain    10000 non-null  uint8
 11  Gender_Male        10000 non-null  uint8
dtypes: float64(2), int64(7), uint8(3)
memory usage: 732.5 KB

# Modeling Data

In [47]:
# Putting feature variable to X
x = customer_churn.drop(['Exited'],axis=1)

# Putting response variable to y
y = customer_churn['Exited']

In [48]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=10, stratify = y)

In [49]:
print(x_train.shape)

(8000, 11)

In [50]:
print(x_test.shape)

(2000, 11)

In [51]:
print(y_train.shape)

(8000,)

In [52]:
print(y_test.shape)

(2000,)

In [54]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [56]:
x_train

array([[-0.82790347, -0.84863377, -1.04062064, ..., -0.57465595,
        -0.57754272,  0.92133383],
       [ 1.8952172 , -0.4663394 , -0.00229297, ..., -0.57465595,
         1.73147365,  0.92133383],
       [-0.35342032,  0.29824934,  0.34381625, ...,  1.74017165,
        -0.57754272, -1.08538292],
       ...,
       [-0.04397479,  0.68054371, -1.38672987, ...,  1.74017165,
        -0.57754272,  0.92133383],
       [ 0.51302717, -0.84863377,  1.38214392, ..., -0.57465595,
        -0.57754272, -1.08538292],
       [ 1.09065882,  2.01857401, -1.04062064, ..., -0.57465595,
        -0.57754272,  0.92133383]])

In [58]:
#y_train.value_counts(normalize=True)

# Logistic regression

In [59]:
logistic= LogisticRegression()

In [60]:
logistic.fit(x_train, y_train)

LogisticRegression()

In [61]:
predit=logistic.predict(x_test)

In [62]:
acc=accuracy_score(y_test, predit)

In [65]:
print(acc)

0.813

In [76]:
precision_score(y_test, predit)

0.6204379562043796

In [77]:
recall_score(y_test,predit)

0.20884520884520885

In [80]:
f1_score(y_test,predit)

0.3125

# Random Forest.................

In [66]:
#Random Forest.................
chur=RandomForestClassifier(criterion='entropy', n_estimators=100)

In [67]:
chur.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy')

In [68]:
y_pred=chur.predict(x_test)

In [71]:
accu=accuracy_score(y_test, y_pred)

In [72]:
print(accu)

0.867

In [78]:
precision_score(y_test, y_pred)

0.7901234567901234

In [79]:
recall_score(y_test,y_pred)

0.47174447174447176

# Handling Imbalance data with smote

In [81]:
from imblearn.over_sampling import SMOTE

In [84]:
x_res, y_res= SMOTE().fit_resample(x,y)

In [85]:
y_res.value_counts()

1    7963
0    7963
Name: Exited, dtype: int64

In [86]:
x_train, x_test, y_train, y_test = train_test_split(x_res,y_res, test_size=0.2, random_state=42)

In [87]:
logistic.fit(x_train, y_train)

LogisticRegression()

In [90]:
pre=logistic.predict(x_test)

In [91]:
accuracy_score(y_test, pre)

0.6588198367859385

In [92]:
precision_score(y_test, pre)

0.6405307599517491

In [93]:
f1_score(y_test,pre)

0.6614761756462162

In [94]:
from sklearn import svm

In [95]:
svm= svm.SVC()

In [96]:
svm.fit(x_train, y_train)

SVC()

In [99]:
pree=svm.predict(x_test)

In [100]:
accuracy_score(y_test, pree)

0.5677966101694916

In [101]:
gbc=GradientBoostingClassifier()

In [102]:
gbc.fit(x_train, y_train)

GradientBoostingClassifier()

In [104]:
y_preee=gbc.predict(x_test)

In [106]:
accuracy_score(y_test, y_preee)

0.844632768361582